Repository chris-hinson/waste, pull requests merged in 2022-12, with the labels that each got.

#68 Fixed non-determinism with host not receiving monster
  src/battle.rs
  src/help.rs
  src/multiplayer_battle.rs
  src/multiplayer_waiting.rs
  src/networking.rs
  src/wfc.rs
Labels: networking

#75 SP battle reports crits and quests on screen
  src/battle.rs
  src/world.rs
Labels: enhancement, core

#74 PvE [WIP]
  src/game_client.rs
  src/monster.rs
  src/multiplayer_pve.rs
  src/multiplayer_pvp.rs
  src/multiplayer_waiting.rs
  src/networking.rs
Labels: high priority, networking
